<div data-hook="new_product_shipping_method" class="col-md-4">
  <%= f.field_container :shipping_method, :class => ['form-group'] do %>
    <%= f.label :shipping_method_id, Spree.t(:shipping_methods) %><span class="required">*</span>
    <%= f.collection_select(:shipping_method_id, @shipping_methods, :id, :name, {}, { :class => 'select2' }) %>
    <%= f.error_message_on :shipping_method_id %>
  <% end %>
</div>
